# Programming Basics

## Introduction to Python

<img src="./media/recipe2.jpg"/>

<img src="./media/code_execute_small.jpg"/>

## How to get help

<img src="./media/99bugs_small.jpg"/>

["A software bug is an error, flaw or fault in a computer program or system that causes it to produce an incorrect or unexpected result (...)"](https://en.wikipedia.org/wiki/Software_bug)

<img src="./media/cracking.gif"/>

## The `print()` function and its parameters; the Syntax error

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print(10)

10

In [3]:
print(2.3)

2.3

In [23]:
print(10) print(2.3)

SyntaxError: invalid syntax (<ipython-input-23-ba43bbb0e998>, line 1)

<img src="./media/hurt_small.png"/>

In [16]:
print("Hello, World!")
print(10)
print(2.3)

Hello, World!
10
2.3

---

In [6]:
print("There are", 5, "continents in the World, according to the UN.")

There are 5 continents in the World, according to the UN.

In [9]:
print("There are", 5, "continents in the World, according to the UN.",sep="!")

There are!5!continents in the World, according to the UN.

In [12]:
print("Hello, World!", end=" ")
print(10, end=" ")
print(2.3, end=" ")

Hello, World! 10 2.3

---

In [1]:
"This will not appear at all."
"This string is the last result of the cell! On the left is Out[X]:"

'This string is the last result of the cell! On the left is Out[X]:'

## How to comment your code

<img src="./media/escalated_quickly_small.png"/>

In [1]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [19]:
print("Hello, World!") #Here the string is printed.

Hello, World!

In [20]:
print("Hello, World!")
#print("This is not going to be printed!")

Hello, World!

## Basic data types: integers, floats, strings, booleans and None; the `type()` function

<img src="./media/letters.gif"/>

### Integers

In [17]:
print(-12)

-12

In [40]:
print(+12)

12

### Floats

In [22]:
#Printing float 42.12
print(42.12)
#      ^  ^
#      |  |
#      |  Decimal part
#      Integer part

42.12

In [30]:
#In this case, using the comma creates two arguments for the print function.
print(42,12) #This prints the integer 42, a whitespace and the integer 12.
print(42.12) #This prints the float 42.12

42 12
42.12

In [29]:
print(42.000.000)

SyntaxError: invalid syntax (<ipython-input-29-e808d8bcf66f>, line 1)

In [38]:
print(.4)
print(0.4) #Equivalent

0.4
0.4

In [39]:
print(5.)
print(5.0) #Equivalent

5.0
5.0

In [60]:
print(3E2) #This is equivalent to 3.0 * (10 ** 2). 


print(1.2e-4) #This is equivalent to 1.2 * (10 ** -4)
print(1.2e3) #This is equivalent to 1.2 * (10 ** 3)
print(1E50) #This is equivalent to 1. * (10 ** 50)

300.0
0.00012
1200.0
1e+50

In [62]:
print(-12.45)
print(-2.86e4)

-12.45
-28600.0

In [67]:
print(0.000000000000001)

1e-15

### Strings

In [79]:
print("This is a string.")
print('This is also a string.')

This is a string.
This is also a string.

In [78]:
#The ) is considered a part of the string
print("This is a )

SyntaxError: EOL while scanning string literal (<ipython-input-78-5d44bf5397b8>, line 1)

In [82]:
print("\"An investment in knowledge always pays the best interest.\" - Benjamin Franklin")
print('\'Everything you can imagine is real.\' - Pablo Picasso')

"An investment in knowledge always pays the best interest." - Benjamin Franklin
'Everything you can imagine is real.' - Pablo Picasso

In [75]:
print("'Imagination is more important than knowledge...' - Albert Einstein")
print('"There is no harm in doubt and skepticism, for it is through these that new discoveries are made." - Richard Feynman')

'Imagination is more important than knowledge...' - Albert Einstein
"There is no harm in doubt and skepticism, for it is through these that new discoveries are made." - Richard Feynman

In [76]:
print("This is a string" " )

SyntaxError: EOL while scanning string literal (<ipython-input-76-f498a3c49047>, line 1)

---

In [87]:
print("old pond\nfrog leaps in\nwater's sound\n- Translated Bashō's \"old pond\"")
#Any space around \n is also part of the string. Try adding a space after \n to see the difference.

old pond
frog leaps in
water's sound
- Translated Bashō's "old pond"

In [1]:
#The \ prevents the name of the poem to be separated from the author. Delete it to see the difference.
print("""A Silly Poem \
by Spike Milligan

Said Hamlet to Ophelia,
I'll draw a sketch of thee,
What kind of pencil shall I use?
2B or not 2B?
"""
)

A Silly Poem by Spike Milligan

Said Hamlet to Ophelia,
I'll draw a sketch of thee,
What kind of pencil shall I use?
2B or not 2B?

---

In [104]:
print('First empty string:')
print("")
print('Second empty string:')
print('')

First empty string:

Second empty string:

### Booleans

In [113]:
print("Is 2 larger than 1?", 2 > 1)
print("Is 2 smaller than 1?", 2 < 1)

Is 2 larger than 1? True
Is 2 smaller than 1? False

In [116]:
#These are not the same.
print(True)
print("True")

True
True

### The None value

In [127]:
print(None)

None

### Identifying the data type with `type()`

In [144]:
#Don't worry about what class means for now. The data type is shortened and within apostrophes.
print("The data type of 1 is",type(1))
print("The data type of 1. is",type(1.))
print("The data type of -3E2 is",type(-3E2))
print("The data type of 'This is a string.' is",type('This is a string.'))
print("The data type of 'True':",type('True'), "is not the same as the data type of True:", type(True))
print("The data type of None is",type(None))

The data type of 1 is <class 'int'>
The data type of 1. is <class 'float'>
The data type of -3E2 is <class 'float'>
The data type of 'This is a string.' is <class 'str'>
The data type of 'True': <class 'str'> is not the same as the data type of True: <class 'bool'>
The data type of None is <class 'NoneType'>

<a id="convert"></a>
## Converting between basic data types using `int()`, `float()`, `str()` and `bool()` functions; the Value error

In [4]:
print("The result of int(\"4\") is" ,int("4") ,"and the data type is",type(int("4")))
print("The result of int(2.8) is" ,int(2.8) ,"and the data type is",type(int(2.8)))
print("The result of int(True) is" ,int(True) ,"and the data type is",type(int(True)))

The the result of int("4") is 4 and the data type is <class 'int'>
The the result of int(2.8) is 2 and the data type is <class 'int'>
The the result of int(True) is 1 and the data type is <class 'int'>

In [10]:
print(int("This is not an integer!"))

ValueError: invalid literal for int() with base 10: 'This is not an integer!'

In [20]:
print("The result of float(\"4\") is" ,float("4") ,"and the data type is",type(float("4")))
print("The result of float(2) is" ,float(2) ,"and the data type is",type(float(2)))
print("The result of float(\"3E4\") is" ,float("3E4") ,"and the data type is",type(float("3E4")))
print("The result of float(True) is" ,float(True) ,"and the data type is",type(float(True)))

The the result of float("4") is 4.0 and the data type is <class 'float'>
The the result of float(2) is 2.0 and the data type is <class 'float'>
The the result of float("3E4") is 30000.0 and the data type is <class 'float'>
The the result of float(True) is 1.0 and the data type is <class 'float'>

In [13]:
print(float("This is not a float!"))

ValueError: could not convert string to float: 'This is not a float!'

In [2]:
print("The result of str(\"4\") is" ,str("4") ,"and the data type is",type(str("4")))
print("The result of str(2.3) is" ,str(2.3) ,"and the data type is",type(str(2.3)))
print("The result of str(\"3E4\") is" ,str("3E4") ,"and the data type is",type(str("3E4")))
print("The result of str(True) is" ,str(True) ,"and the data type is",type(str(True)))

The result of str("4") is 4 and the data type is <class 'str'>
The result of str(2.3) is 2.3 and the data type is <class 'str'>
The result of str("3E4") is 3E4 and the data type is <class 'str'>
The result of str(True) is True and the data type is <class 'str'>

## Basic arithmetic operations; the ZeroDivision error

In [24]:
print(2 + 2)

4

<img src="./media/TomsMindBlown.gif"/>

Some of the operations can can be performed with Python are:
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Exponentiation or power (`**`)
- Integer division (`//`)
- Remainder (`%`)

In [23]:
print(2 + 3)
print(2. + 3)
print(2 + 3.)
print(2. + 3.)

5
5.0
5.0
5.0

In [26]:
print(2 - 3)
print(2. - 3)
print(2 - 3.)
print(2. - 3.)

-1
-1.0
-1.0
5.0

In [29]:
print(2 - -5)

7

In [30]:
print(2 * 3)
print(2. * 3)
print(2 * 3.)
print(2. * 3.)

6
6.0
6.0
6.0

In [3]:
print(2 / 2)
print(2. / 3)
print(2 / 3.)
print(2. / 3.)

1.0
0.6666666666666666
0.6666666666666666
0.6666666666666666

In [32]:
print(12 / 6)

2.0

In [35]:
print(2 ** 3)
print(2. ** 3)
print(2 ** 3.)
print(2. ** 3.)

8
8.0
8.0
8.0

In [37]:
print(6 // 4)
print(6. // 4)
print(6 // 4.)
print(6. // 4.)

1
1.0
1.0
1.0

In [5]:
print(6 / 4)

1.5

In [3]:
#One might think that the result would be -1 or -1.0.
print(-6 // 4) 
print(6 // -4.)

-2
-2.0

In [47]:
print(14 % 3)
print(14. % 3)
print(14 % 3.)
print(14. % 3.)

2
2.0
2.0
2.0

In [52]:
print(2 // 0)

ZeroDivisionError: integer division or modulo by zero

## Operator Precedence

<img src="./media/precedence_small.jpg"/>

Consider the examples:

In [8]:
#The first operation performed: 2 * 3 = 6
#The second operation performed: 2 + 6 = 8
print(2 + 2 * 3)

8

In [59]:
#First operation performed: 12 // 3 = 4
#Second operation performed: 4 // 2 = 2
#Left-sided binding
print(12 // 3 // 2)

#Introducing parenthesis (highest priority) to force the right operation to be performed first.
#First operation performed: 3 // 2 = 1
#Second operation performed: 12 // 1 = 12
print(12 // (3 // 2))

2
12

In [4]:
#// and * have the same priority and are both left-sided binding.
#The first operation performed: 2 // 3 = 0
#The second operation performed: 0 * 3 = 0
print(2 // 3 * 3)

#The first operation performed: 3 * 2 = 6
#The second operation performed: 6 // 3 = 2
print(3 * 2 // 3 )

0
2

In [62]:
#First operation performed: 2 ** 3 = 8
#Second operation performed: 2 ** 8 = 256
#Right-sided binding
print(2 ** 2 ** 3)

#Introducing parenthesis (highest priority) to force the left operation to be performed first.
#First operation performed: 2 ** 2 = 4
#Second operation performed: 4 ** 3 = 64
print((2 ** 2) ** 3)

256
64

## Strings concatenation and formatting

In [11]:
#The string "Hello " is merged with the string "there."
print("Hello " + "there.")

Hello there.

In [12]:
print("You " + "can " + "merge " + "as " + "many " + "strings " + "in " + "a " + "row " + "as " + "you "+ "like.")

You can merge as many strings in row as you like.

In [16]:
print("The order of the characters " + "is preserved in the resulting string.")
print("String 1 " + "String 2 " + "String 3")

The order of the characters is preserved in the resulting string.
String 1 String 2 String 3

In [4]:
print("""Multiplying one integer with a string produces a string that is the concatenation \
of the string repeated by the value of that integer.
For example: 4 * \"ABC\" results in """ + 4 * "ABC")

Multiplying one integer with a string produces a string that is the concatenation of the string repeated by the value of that integer.
For example: 4 * "ABC" results in ABCABCABCABC

#### String Formatting

In [6]:
print("There are " + str(123) + " boxes of sweets in a store. There are " + str(25)
      + " sweets in each box.\nHow many sweets are there in the store? " + str(123 * 25))

There are 123 boxes of sweets in a store. There are 25 sweets in each box.
How many sweets are there in the store? 3075

In [8]:
print("""There are {0} boxes of sweets in a store. There are {1} \
sweets in each box.\nHow many sweets are there in the store? {result}""".format(123, 25, result=123 * 25))

There are 123 boxes of sweets in a store. There are 25 sweets in each box.
How many sweets are there in the store? 3075

In [38]:
print(f"""There are {123} boxes of sweets in a store. There are {25} \
sweets in each box. How many sweets are in the store? {123 * 25}""")

There are 123 boxes of sweets in a store. There are 25 sweets in each box. How many sweets are in the store? 3075

## Introduction to variables; the Name error

To create a variable the programmer must first name it. There are some rules to naming a variable that have to be followed:

- the name of the variable can **only** be composed of **upper- and lower-case letters**, **digits** and the underscore character **_**. The characters are not required to be Latin letters .
- the name has to **start with a letter**.
- the **underscore is considered a letter**.
- the upper- and lower-case letters are considered to be different. `POTATOES` and `potatoes` are two distinct variables.
- the name cannot be one of Python's reserved keywords or [built-in functions]

In [25]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Here are some examples of names that can be used for variables:

`FirstVariable`

`j`

`v23`

`counter`

`index`

`An_Extremely_Long_Variable_Name_That_You_Are_Definitely_Never_Going_To_Mispell`

`Ovo_da_Páscoa_Abaixo` (use of accented letters)

`В_Советской_России_переменные_дают_вам_имя` (use of non latin characters)

In [44]:
variable_name = 3

In [45]:
print(variable_name)

3

In [47]:
a = 1
b = 2.
c = "This is a string."
print(a,b,c)

1 2.0 This is a string.

In [48]:
print(A)

NameError: name 'A' is not defined

In [50]:
a = 2
#Variable a had value 1 and now it has value 2.
print(a)

2

In [53]:
e = "First part,"
f = " second part."
g = e + f
print(g)

First part, second part.

In [54]:
d = 1
d = d + 1
print(d)

2

In [57]:
counter = 1
counter += 1
print(counter)

2

In [59]:
fraction = 256
fraction /= 2 #Equivalent to fraction = fraction / 2
print(fraction)

128.0

In [61]:
money = 1000
tax = 0.05
money *= (1 - tax) #Equivalent to money = money * (1 - tax)
print(money)

950.0

### Constants

In [ ]:
GRAVITY_EARTH = 9.81
PI = 3.14159